WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/OrderTB/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderSV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderSV_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_FindIDNew_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIDNew" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_FindIDNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIDNewResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_FindID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindID" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_FindID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_EditOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_EditOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_Find_FullName_InputMessage">
    <wsdl:part name="parameters" element="tns:Find_FullName" />
  </wsdl:message>
  <wsdl:message name="IOrderSV_Find_FullName_OutputMessage">
    <wsdl:part name="parameters" element="tns:Find_FullNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderSV">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/Insert" message="tns:IOrderSV_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/InsertResponse" message="tns:IOrderSV_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIDNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/FindIDNew" message="tns:IOrderSV_FindIDNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/FindIDNewResponse" message="tns:IOrderSV_FindIDNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/ListAll" message="tns:IOrderSV_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/ListAllResponse" message="tns:IOrderSV_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/FindID" message="tns:IOrderSV_FindID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/FindIDResponse" message="tns:IOrderSV_FindID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/EditOrder" message="tns:IOrderSV_EditOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/EditOrderResponse" message="tns:IOrderSV_EditOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/DeleteOrder" message="tns:IOrderSV_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/DeleteOrderResponse" message="tns:IOrderSV_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find_FullName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderSV/Find_FullName" message="tns:IOrderSV_Find_FullName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderSV/Find_FullNameResponse" message="tns:IOrderSV_Find_FullName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderSV" type="tns:IOrderSV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIDNew">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/FindIDNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/FindID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/EditOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find_FullName">
      <soap:operation soapAction="http://tempuri.org/IOrderSV/Find_FullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderSV">
    <wsdl:port name="BasicHttpBinding_IOrderSV" binding="tns:BasicHttpBinding_IOrderSV">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_RestaurantWCF.Service/OrderSV/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>