WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Book_Menu/Order_RestaurantWCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Book_Food">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Food_ID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="OrderTable_ID" type="xs:long" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book_Food" nillable="true" type="tns:Book_Food" />
</xs:schema>