WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Book_Menu/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookMenuSV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookMenuSV_InsertMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMenu" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_InsertMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_CheckID_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckID" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_CheckID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_FindID_OrderTB_InputMessage">
    <wsdl:part name="parameters" element="tns:FindID_OrderTB" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_FindID_OrderTB_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindID_OrderTBResponse" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_EditCount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCount" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_EditCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_deleteFoodinMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFoodinMenu" />
  </wsdl:message>
  <wsdl:message name="IBookMenuSV_deleteFoodinMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFoodinMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookMenuSV">
    <wsdl:operation name="InsertMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/InsertMenu" message="tns:IBookMenuSV_InsertMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/InsertMenuResponse" message="tns:IBookMenuSV_InsertMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/CheckID" message="tns:IBookMenuSV_CheckID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/CheckIDResponse" message="tns:IBookMenuSV_CheckID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindID_OrderTB">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/FindID_OrderTB" message="tns:IBookMenuSV_FindID_OrderTB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/FindID_OrderTBResponse" message="tns:IBookMenuSV_FindID_OrderTB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/ListAll" message="tns:IBookMenuSV_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/ListAllResponse" message="tns:IBookMenuSV_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/EditCount" message="tns:IBookMenuSV_EditCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/EditCountResponse" message="tns:IBookMenuSV_EditCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFoodinMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookMenuSV/deleteFoodinMenu" message="tns:IBookMenuSV_deleteFoodinMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookMenuSV/deleteFoodinMenuResponse" message="tns:IBookMenuSV_deleteFoodinMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookMenuSV" type="tns:IBookMenuSV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMenu">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/InsertMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckID">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/CheckID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindID_OrderTB">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/FindID_OrderTB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCount">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/EditCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFoodinMenu">
      <soap:operation soapAction="http://tempuri.org/IBookMenuSV/deleteFoodinMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookMenuSV">
    <wsdl:port name="BasicHttpBinding_IBookMenuSV" binding="tns:BasicHttpBinding_IBookMenuSV">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_RestaurantWCF.Service/BookMenuSV/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>