WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Food/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoodSV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoodSV_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListSlideFood_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSlideFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListSlideFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSlideFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_FindID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindID" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_FindID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoodSV">
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/ListAll" message="tns:IFoodSV_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/ListAllResponse" message="tns:IFoodSV_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSlideFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/ListSlideFood" message="tns:IFoodSV_ListSlideFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/ListSlideFoodResponse" message="tns:IFoodSV_ListSlideFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/FindID" message="tns:IFoodSV_FindID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/FindIDResponse" message="tns:IFoodSV_FindID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoodSV" type="tns:IFoodSV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSlideFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/ListSlideFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/FindID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodSV">
    <wsdl:port name="BasicHttpBinding_IFoodSV" binding="tns:BasicHttpBinding_IFoodSV">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_RestaurantWCF.Service/FoodSV/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>