WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Food/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="ListAllResult" nillable="true" type="q1:ArrayOfFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSlideFood">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSlideFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="ListSlideFoodResult" nillable="true" type="q2:ArrayOfBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="FindIDResult" nillable="true" type="q3:Food" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PageListFood">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PageListFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="PageListFoodResult" nillable="true" type="q4:ArrayOfFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="entity" nillable="true" type="q5:Food" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Str_Metatitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Str_MetatitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Str_MetatitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="entity" nillable="true" type="q6:Food" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find_FoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="food_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find_FoodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="Find_FoodNameResult" nillable="true" type="q7:Food" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameFood" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchFoodResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="namefood" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="SearchResult" nillable="true" type="q9:ArrayOfFood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>