WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Food/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoodSV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoodSV_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListSlideFood_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSlideFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_ListSlideFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSlideFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_FindID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindID" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_FindID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_PageListFood_InputMessage">
    <wsdl:part name="parameters" element="tns:PageListFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_PageListFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:PageListFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_AddFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_AddFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Str_Metatitle_InputMessage">
    <wsdl:part name="parameters" element="tns:Str_Metatitle" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Str_Metatitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:Str_MetatitleResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_EditFood_InputMessage">
    <wsdl:part name="parameters" element="tns:EditFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_EditFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_DeleteFood_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_DeleteFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Find_FoodName_InputMessage">
    <wsdl:part name="parameters" element="tns:Find_FoodName" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Find_FoodName_OutputMessage">
    <wsdl:part name="parameters" element="tns:Find_FoodNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_searchFood_InputMessage">
    <wsdl:part name="parameters" element="tns:searchFood" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_searchFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IFoodSV_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoodSV">
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/ListAll" message="tns:IFoodSV_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/ListAllResponse" message="tns:IFoodSV_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSlideFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/ListSlideFood" message="tns:IFoodSV_ListSlideFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/ListSlideFoodResponse" message="tns:IFoodSV_ListSlideFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/FindID" message="tns:IFoodSV_FindID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/FindIDResponse" message="tns:IFoodSV_FindID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PageListFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/PageListFood" message="tns:IFoodSV_PageListFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/PageListFoodResponse" message="tns:IFoodSV_PageListFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/AddFood" message="tns:IFoodSV_AddFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/AddFoodResponse" message="tns:IFoodSV_AddFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Str_Metatitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/Str_Metatitle" message="tns:IFoodSV_Str_Metatitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/Str_MetatitleResponse" message="tns:IFoodSV_Str_Metatitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/EditFood" message="tns:IFoodSV_EditFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/EditFoodResponse" message="tns:IFoodSV_EditFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/DeleteFood" message="tns:IFoodSV_DeleteFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/DeleteFoodResponse" message="tns:IFoodSV_DeleteFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find_FoodName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/Find_FoodName" message="tns:IFoodSV_Find_FoodName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/Find_FoodNameResponse" message="tns:IFoodSV_Find_FoodName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/searchFood" message="tns:IFoodSV_searchFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/searchFoodResponse" message="tns:IFoodSV_searchFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSV/Search" message="tns:IFoodSV_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSV/SearchResponse" message="tns:IFoodSV_Search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoodSV" type="tns:IFoodSV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSlideFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/ListSlideFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindID">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/FindID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageListFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/PageListFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/AddFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Str_Metatitle">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/Str_Metatitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/EditFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/DeleteFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find_FoodName">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/Find_FoodName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchFood">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/searchFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IFoodSV/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodSV">
    <wsdl:port name="BasicHttpBinding_IFoodSV" binding="tns:BasicHttpBinding_IFoodSV">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_RestaurantWCF.Service/FoodSV/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>