WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Slide/Order_RestaurantWCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Banner" nillable="true" type="tns:Banner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBanner" nillable="true" type="tns:ArrayOfBanner" />
  <xs:complexType name="Banner">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Food_CategoryID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banner" nillable="true" type="tns:Banner" />
</xs:schema>