WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Slide/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
  <xs:element name="PageListSlide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PageListSlideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="PageListSlideResult" nillable="true" type="q1:ArrayOfBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSlide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="entity" nillable="true" type="q2:Banner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSlideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSlideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSlide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="entity" nillable="true" type="q3:Banner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSlideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSlideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSlide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSlideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSlideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Str_Metatitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Str_MetatitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Str_MetatitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" minOccurs="0" name="FindIDResult" nillable="true" type="q4:Banner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>