WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Main_Menu/Order_RestaurantWCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMain_Menu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Main_Menu" nillable="true" type="tns:Main_Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMain_Menu" nillable="true" type="tns:ArrayOfMain_Menu" />
  <xs:complexType name="Main_Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Main_Menu" nillable="true" type="tns:Main_Menu" />
  <xs:complexType name="Footer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Footer" nillable="true" type="tns:Footer" />
</xs:schema>