WebOrderTbRestaurant/WebOrderTbRestaurant/Service References/Main_Menu/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuSV" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_RestaurantWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuSV_ListMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuSV_ListMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuSV_ListFooter_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFooter" />
  </wsdl:message>
  <wsdl:message name="IMenuSV_ListFooter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFooterResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuSV">
    <wsdl:operation name="ListMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuSV/ListMenu" message="tns:IMenuSV_ListMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuSV/ListMenuResponse" message="tns:IMenuSV_ListMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFooter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuSV/ListFooter" message="tns:IMenuSV_ListFooter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuSV/ListFooterResponse" message="tns:IMenuSV_ListFooter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuSV" type="tns:IMenuSV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuSV/ListMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFooter">
      <soap:operation soapAction="http://tempuri.org/IMenuSV/ListFooter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuSV">
    <wsdl:port name="BasicHttpBinding_IMenuSV" binding="tns:BasicHttpBinding_IMenuSV">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_RestaurantWCF.Service/MenuSV/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>